/* Importing fonts from Google. */
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:700,400");

/* Body. */
a {
	color: #777777;
}

a:hover {
	color: #444444;
	text-decoration: none;
}


body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: "Ubuntu Mono", monospace;
	font-weight: 400;
}

h2 {
	font-weight: 700;
	text-align: center;
}

/* Headline. */
#headline {
	margin-left: auto;
	margin-right: auto;
	padding: 80px;
	width: 800px;
}

h1 {
	color: #FFFFFF;
	font-family: "Share Tech Mono", monospace;
	font-size: 5em;
	text-align: center;
}

/* Map. */
#map {
 	border-color: #FFFFFF;
 	border-style: solid;
 	border-width: 2px;
	height: 800px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/* Map info. */
#infoBar {
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
	width: 800px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

td {
	text-align: center;
	padding: 1em;
}

.tblHeading {
	font-weight: 700;
}

.rip {
	color: #FF7777;
	display: block;
	font-size: 80px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: auto;
}

#colList {
	list-style-type: none;
	padding-left: 0;
	text-align: center;
	vertical-align: middle;
}

/* Various color codings. */
.malcol {
	color: #409EFF;
}

.femcol {
	color: #FF85FE;
}

.wcol {
	color: #9BFBFF
}

.blcol {
	color: #FFF99B;
}

.hiscol {
	color: #A7FF9B;
}

.ascol {
	color: #FF8D8D;
}

.natcol {
	color: #FB9BFF;
}

.paccol {
	color: #FFC19B;
}

.uncol {
	color: #F3F3F3;
}