/* Importing fonts from Google. */
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:700,400");

/* Body. */
a {
	color: #777777;
}

a:hover {
	color: #444444;
	text-decoration: none;
}


body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: "Ubuntu Mono", monospace;
	font-weight: 400;
}

h2 {
	font-weight: 700;
}

/* Headline. */
#headline {
	margin-left: auto;
	margin-right: auto;
	padding: 80px;
	width: 800px;
}

h1 {
	color: #FFFFFF;
	font-family: "Share Tech Mono", monospace;
	font-size: 5em;
	text-align: center;
}

/* Map. */
#container {
 	border-color: #FFFFFF;
 	border-style: solid;
 	border-width: 2px;
	height: 800px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/* Map info. */
#infoBar {
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
	width: 800px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

td {
	text-align: center;
	padding: 1em;
}

.tblHeading {
	font-weight: 700;
}